* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/*  <!---------- parte navigazione  ------------------------------------------>*/


.clearfix::after {
    content: "";
    display: table;
    clear: both;
}
#caos {
    margin-top:30px;
}
hr {
    margin-top: 45px;
}
#engli {
    margin-top: 15px;
    margin-left: 40%;
    margin-bottom: -1px;
}
#lente {
    margin-left: 80px;
    margin-top: 25px;
}
#LOG {
    margin-top: 18px;
    border-radius: 8px;
    color:white;
    background-color: white;
    padding: 8px 25px;
    color:#FF7A59;
    border-style:#FF7A59;
    margin-left: -70px;
}
#free {
    border-radius: 8px;
    color:white;
    background-color: #FF7A59;
    padding: 8px 25px;
    color:white;
    border-style:white;
}

.scroll {
    position: fixed;
    top:0px;
    left:0px;
    width:100%;
    z-index: 1;
}

.contenuto1 {
    height: 100px;
    width: 50%;
    float: left;
    background-color: #F5F8FA;
}
.contenuto2 {
    height: 100px;
    width: 50%;
    float: left;
    background-color:#F5F8FA;
}

.contenuto3 {
    height: 100px;
    width: 50%;
    float: left;
    background-color:white;
    margin-top: 100px;
}
.contenuto4 {
    height: 100px;
    width: 50%;
    float: left;
    background-color:white;
    margin-top: 100px;
}
#logo {
    margin-left: 40%;
    margin-bottom: 50%;
    height: 40px;
}
ul {
    font-size: 17px;
    margin: 0;
    padding: 0;
    list-style: none;
}
ul li {
    display: block;
    width: 120px;
    height: 30px;
    margin: 2px;
    float: left;
}
ul li a {
    color:#33475b;
    display: block;
    font-weight: bold;
    line-height: 30px;
    text-decoration: none;
    width: 100px;
    height: 30px;
    text-align: left;
}

   /* -------------------------------------- */


.fotogrande {
    /* position: relative; */
}
#fotog {
    height:694px;
    width: 100%;
    margin-top: -25px;
}
#frase1 {
    font-size: 50px;
    text-align:center;
    margin-top: 20px;
    color: #33475b;
    position: absolute;
    margin-left: 385px;
}

p {
    position: absolute;
    font-size: 25px;
    text-align: left;
    margin-top: 195px;
    margin-left: 380px;
    color: #33475b;
}
#free2 {
    border-radius: 8px;
    color:white;
    background-color: #FF7A59;
    padding: 20px 50px;
    color:white;
    border-style:white;
    position: absolute;
    margin-top: 340px;
    margin-left: 375px;
}
#get {
    margin-top: 420px;
    margin-left: 375px;
    font-size: 15px;
}

 /* -------------------------------------- */
.secondasezione  {
    /* position: relative; */
    /* height: 5000px; */
    /* background-color: red; */
    /* width: 100%; */
}
#rubi {
    height: 220px;
    margin-left: 850px;
    margin-top: 80px;
}
#frase2 {
    font-size: 35px;
    text-align:center;
    margin-top: 25px;
    margin-left: 700px;
    color: #33475b;
    position: absolute;
}
#full {
    margin-top: 90px;
    margin-bottom: 100px;
    margin-left: 600px;
    position: absolute;
    font-size: 20px;
    text-align: center;
    color: #33475b;
}

 /* -------------------------------------- */
.terzasezione {
    /* margin-top: 1500px; */
    /* width: 100%; */
    position: relative;

}
.lista {
    display: inline-block;
    color:#33475b;
    font-weight: bold;
    line-height: 10px;
    text-decoration: none;
    height: 40px;
    text-align: center;
    margin-left: 10px;
    margin-bottom:  -20px;
}
.lista>li {
    margin: 5px;
    padding: 0px;
    font-size: 14px;
    height: auto;
    width: auto;
}


#picc {
    position: absolute;
    font-size: 17px;
    text-align: left;
    margin-top: -195px;
    margin-left: 700px;
    color: #33475b;
}
#frase3{
    position: absolute;
    font-size: 25px;
    text-align: left;
    margin-top: -240px;
    margin-left: 700px;
    color: #33475b;
}
#picco {
    position: absolute;
    font-size: 17px;
    text-align: left;
    margin-top: -135px;
    margin-left: 700px;
    color: #33475b;
}
#free3 {
    border-radius: 8px;
    color:white;
    background-color: #FF7A59;
    padding: 20px 50px;
    color:white;
    border-style:white;
    /* position: absolute; */
    margin-top:440px;
    margin-left: -250px;
    margin-bottom: 50px;
}
.libri {
    height: 200px;
    margin-top:150px;
    margin-left: 440px;
    margin-bottom: 90px;
}

/* ----------------- quarta se--------------------- */
.quartasezione {
    /* height: 1500px;
    background-color: lightblue; */ */
    width: 100%;
    margin-bottom: 100px;
}


#borsa {
   height: 150px;
   margin-top:30px;
   margin-left: 190px;
}
#marketing {
    height: 150px;
    margin-top:30px;
    margin-left: 480px;
}
#cuffie {
    height: 150px;
    margin-top:30px;
    margin-left: -50px;
}
.clearfix::after {
    content: "";
    display: table;
    clear: both;
}
.colonna1 {
    /* height: 500px; */
    width: 33%;
    float: left;
    margin-left: 0.2%;
}
.colonna2 {
    /* height: 500px; */
    width:33%;
    float: left;
    margin-left: 0.2%;
}

.colonna3 {
    /* height: 500px; */
    width: 33%;
    float: left;
    margin-left: 0.2%;
}
#frase4 {
    color:#33475b;
    font-size: 25px;
    text-align:right;
    margin-top: 20px;
}
#frase5 {
    color:#33475b;
    font-size: 17px;
    text-align:left;
    margin-top: 30px;
}
#frase6 {
    color:#33475b;
    font-size: 17px;
    text-align: center;
    margin-left: 440px;
}
.fa-check-circle {
    color: #FF7A59;
}
#on {
    display: inline-block;
    color:#33475b;
    font-weight: bold;
    line-height: 40px;
    text-decoration: none;
    height: 60px;
    text-align: left;
    margin-left: 375px;
    margin-top: 240px;
}
#off {
    width: 200px;
    margin: 0;
    padding: 0;
    font-size: 14px;
}
#frase7 {
    color:#33475b;
    font-size: 25px;
    text-align:left;
    margin-top: 20px;
    margin-left: 230px;
}
#frase8 {
    color:#33475b;
    font-size: 17px;
    text-align:left;
    margin-top: 30px;
    margin-left: 150px;
}
#frase9{
    color:#33475b;
    font-size: 17px;
    text-align: center;
    margin-top: 200px;
    margin-left: 200px;
}

.on2 {
    display: inline-block;
    color:#33475b;
    font-weight: bold;
    line-height: 40px;
    text-decoration: none;
    height: 10px;
    text-align: left;
    margin-left: 150px;
    margin-top: 240px;
}
 .on2>li {
    width: 400px;
    margin: 0;
    padding: 0;
    font-size: 14px;
}

#frase10 {
    color:#33475b;
    font-size: 25px;
    text-align:left;
    margin-top: 20px;
    margin-left: -50px;
}
#frase11 {
    color:#33475b;
    font-size: 17px;
    text-align:left;
    margin-top: 30px;
    margin-left: -80px;
}
#frase12 {
    color:#33475b;
    font-size: 17px;
    text-align: center;
    margin-top: 200px;
    margin-left: -50px;
}
.on3 {
    display: inline-block;
    color:#33475b;
    font-weight: bold;
    line-height: 40px;
    text-decoration: none;
    height: 60px;
    text-align: left;
    margin-left: -80px;
    margin-top: 240px;
}
.on3>li {
    width: 400px;
    margin: 0;
    padding: 0;
    font-size: 14px;
}

/* -----------------quinta---------------------------- */
.quintasezione {
    height: 1050px;
    width: 100%;
    padding: 250px;
    background-image: linear-gradient(45deg, #00A4BD, #00BDA5);
}
.penultima {
    margin-bottom:100px;
}

#frase13 {
    color:white;
    font-size: 35px;
    text-align: center;
    margin-top: -110px;
    margin-left: 0px;
    padding-top: 100px;
}
#frase14 {
    margin-top: 10px;
    margin-bottom: 50px;
    margin-left: 250px;
    position: absolute;
    font-size: 20px;
    text-align: center;
    color: white;

}
.tabe1 {
    height: 300px;
    /* background-image: linear-gradient(45deg, #00A4BD, #00BDA5); */
    width: 25%;
    float: left;

}
.tabe2 {
    height: 300px;
    /* background-image: linear-gradient(45deg, #00A4BD, #00BDA5); */
    width: 25%;
    float: left;
    border-left: white solid 2px;
    border-right: white solid 2px;
}

.tabe3 {
    height: 300px;
    /* background-image: linear-gradient(45deg, #00A4BD, #00BDA5); */
    width: 25%;
    float: left;
    border-right: white solid 2px;
}

.tabe4 {
    height: 300px;
    /* background-image: linear-gradient(45deg, #00A4BD, #00BDA5); */
    width: 25%;
    float: left;
}

.tabe5 {
    height: 300px;
    /* background-image: linear-gradient(45deg, #00A4BD, #00BDA5); */
    width: 25%;
    float: left;
    border-top: white solid 2px;
}

.tabe6 {
    height: 300px;
    /* background-image: linear-gradient(45deg, #00A4BD, #00BDA5); */
    width: 25%;
    float: left;
    border-right: white solid 2px;
    border-top: white solid 2px;
    border-left: white solid 2px;
}

.tabe7 {
    height: 300px;
    /* background-image: linear-gradient(45deg, #00A4BD, #00BDA5); */
    width: 25%;
    float: left;
    border-right: white solid 2px;
    border-top: white solid 2px;
}

.tabe8 {
    height: 300px;
    /* background-image: linear-gradient(45deg, #00A4BD, #00BDA5); */
    float: left;
    border-top: white solid 2px;
}

.simboli {
   height: 50px;
   margin-top: 90px;
   margin-left: 150px;
}
#frase15 {
        margin-top: 10px;
        /* margin-bottom: 200px; */
        margin-left: 100px;
        position: absolute;
        font-size: 20px;
        text-align: center;
        color: white;
}
span {
    color: white;
    font-size:50px;
    margin-left: 145px;
}
#i6 {
    color: white;
    font-size:50px;
    margin-left: 153px;
}

.simboli1 {
   height: 50px;
   margin-top: 90px;
   margin-left: 180px;
}
.simboli2 {
   height: 50px;
   margin-top: 90px;
   margin-left: 120px;
}
.simboli3 {
   height: 50px;
   margin-top: 90px;
   margin-left: 120px;
}

/* <!-- -----------sesta  sezi-------------------------> */
.sestasezione {
    height: 850px;
    background-color: white;
    width: 100%;
    padding-left: 100px;
    padding-right:100px;
}

#frase16{
    font-size: 20px;
    text-align: left;
    color: #33475b;
}
#frase17{
    font-size: 50px;
    text-align: left;
    color: #33475b;
    margin-top: 150px;
}
.primastriscia {
    width: 50%;
    height: 1000px;
    background-color: white;
    float: left;
}
.secondastriscia {
    width: 50%;
    height: 1000px;
    background-color: white;
    float: right;
}
.marchi1 {
    height: 500px;
    background-color: white;
}

#frase18{
    font-size: 35px;
    text-align: left;
    color: #33475b;
    margin-top: 350px;
}
#frase19 {
    font-size: 20px;
    text-align: left;
    color: #33475b;
    margin-top: 450px;
}

#free4 {
    border-radius: 4px;
    color:white;
    background-color: #FF7A59;
    padding: 15px 25px;
    color:white;
    border-style:white;
    margin-top: 550px;
    margin-left: 375px;
}
#frase20 {
    color:#33475b;
    font-size: 17px;
    text-align:left;
    margin-top: 30px;
    margin-left: 375px;
}
.dio {
    height: 15px;
    width: 80px;
    margin-top: 180px;
    text-align: left;
}

.dio2 {
    height: 15px;
    width: 80px;
    text-align: left;
}

.picture1 {
    width:180px;
    height: 250px;
    float: left;
    background-color: white;

}
.picture2 {
    width:180px;
    height: 250px;
    background-color: white;
    float: left;
}
.picture3 {
    width:180px;
    height: 250px;
    background-color: white;
    float: left;
}
.picture4 {
    width:180px;
    height: 250px;
    background-color:white;
    float: left;
}
.picture11 {
    width:180px;
    height: 250px;
    float: left;
    background-color: white;
}
.picture22 {
    width:180px;
    height: 250px;
    background-color: white;
    float: left;
}
.picture33 {
    width:180px;
    height: 250px;
    background-color: white;
    float: left;
}
.picture44 {
    width:180px;
    height: 250px;
    background-color: white;
    float: left;
}
.donna {
    margin-left: 100px;
    height: 450px;
    margin-top: -100px;
}

/* ------------------foooter---------- ---------------------------------> */
footer {
    height: 850px;
    background-color: pink;
    margin-top: 350px;
    width: 100%
}
.footgroup {
    width: 100%;
    height: 300px;
    background-color: #33475b;
    padding: 50px;
    margin-top: -150px;
}
.group1 {
    width:25%;
    background-color: #33475b;
    height: 500px;
    float: left;
}
.group2 {
    width: 25%;
    background-color:#33475b;
    height: 500px;
    float: left;
}
.group3 {
    width: 25%;
    background-color: #33475b;
    height: 500px;
    float: left;
}
.group4 {
    width: 25%;
    background-color: #33475b;
    height:500px;
    float: left;

}
.onn  {
    display: block;
    list-style-type: none;
    padding: 1px;
}
.onn>li {
    float:none;
    color:white;
    height: auto;
    width: auto;
}


.onn> li> a{
    width: auto;
    color:#cbd6e2;
}
#ultimotasto {
    border-radius: 4px;
    color:#33475b;
    background-color: #cbd6e2;
    padding: 15px 25px;
    border-style:white;
    margin-top: 20px;
}

/* .microlink {
    display: inline-block;
    list-style-type: none;
    padding: 1px;
}
.microlink>li {
    float:none;
    color:white;
    height: auto;
    width: auto;
}
.microlink> li> a{
    width: auto;
    color:#cbd6e2;
} */
