* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/*  <!---------- parte navigazione  ------------------------------------------>*/

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}
#caos {
    margin-top:30px;
}
hr {
    margin-top: 45px;
}
#engli {
    margin-top: 15px;
    margin-left: 40%;
    margin-bottom: -1px;
}
#lente {
    margin-left: 80px;
    margin-top: 25px;
}
#LOG {
    margin-top: 18px;
    border-radius: 8px;
    color:white;
    background-color: white;
    padding: 8px 25px;
    color:#FF7A59;
    border-style:#FF7A59;
    margin-left: -70px;
}
#free {
    border-radius: 8px;
    color:white;
    background-color: #FF7A59;
    padding: 8px 25px;
    color:white;
    border-style:white;
}

#navbar-top {
    position: fixed;
    top:0px;
    left:0px;
    width:100%;
}

.contenuto1 {
    height: 100px;
    width: 50%;
    float: left;
    background-color: #F5F8FA;

}
.contenuto2 {
    height: 100px;
    width: 50%;
    float: left;
    background-color:#F5F8FA;

}

.contenuto3 {
    height: 100px;
    width: 50%;
    float: left;
    background-color:white;
}
.contenuto4 {
    height: 100px;
    width: 50%;
    float: left;
    background-color:white;
}
#logo {
    margin-left: 40%;
    margin-bottom: 50%;
    height: 40px;
}
ul {
    font-size: 17px;
    margin: 0;
    padding: 0;
    list-style: none;
}
ul li {
    display: block;
    width: 120px;
    height: 30px;
    margin: 2px;
    float: left;
}
ul li a {
    color:#33475b;
    display: block;
    font-weight: bold;
    line-height: 30px;
    text-decoration: none;
    width: 100px;
    height: 30px;
    text-align: left;
}

  <!------ prima  sezione------------ ---------------------------------------->

.fotogrande {
    /* position: relative; */
}
#fotog {
    height:694px;
    width: 100%;
}
#frase1 {
    position: absolute;
    font-size: 50px;
    text-align: left;
    margin-top: 70px;
    margin-left: 380px;
    color: #33475b;
}

p {
    position: absolute;
    font-size: 25px;
    text-align: left;
    margin-top: 195px;
    margin-left: 380px;
    color: #33475b;
}
#free2 {
    border-radius: 8px;
    color:white;
    background-color: #FF7A59;
    padding: 20px 50px;
    color:white;
    border-style:white;
    position: absolute;
    margin-top: 340px;
    margin-left: 375px;
}
#get {
    margin-top: 420px;
    margin-left: 375px;
    font-size: 15px;
}

<!-- seconda  sezione------------ ---------------------------------------->
.secondasezione  {
    /* position: relative; */
    /* height: 5000px; */
    /* background-color: red; */
    /* width: 100%; */
}
#rubi {
    height: 220px;
    margin-left: 850px;
    margin-top: 80px;
}
#frase2 {
    font-size: 50px;
    text-align:center;
    margin-top: 350px;
    margin-left: 650px;
    color: #33475b;
    position: absolute;
}
#full {
    margin-top: 420px;
    margin-bottom: 100px;
    margin-left: 475px;
    position: absolute;
    font-size: 25px;
    text-align: left;
    color: #33475b;
}
















<!--------- terza  sezione------------ ---------------------------------------->


















<!------- quarta  sezione------------ ---------------------------------------->




















<!-------- quinta  sezione------------ ---------------------------------------->






















<!-- -----------sesta  sezione------------ ------------------------------------->
















<!-- ----------------------foooter---------- --------------------------------->
footer {
    height:500px;
    background-color: red;
    width: 100%;
    margin-top: 2000px;
}
