* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/*  <!---------- parte navigazione  ------------------------------------------>*/


.clearfix::after {
    content: "";
    display: table;
    clear: both;
}
#caos {
    margin-top:30px;
}
hr {
    margin-top: 45px;
}
#engli {
    margin-top: 15px;
    margin-left: 40%;
    margin-bottom: -5px;
}
#lente {
    margin-left: 80px;
    margin-top: 25px;
}
#LOG {
    margin-top: 18px;
    border-radius: 8px;
    color:white;
    background-color: white;
    padding: 8px 25px;
    color:#FF7A59;
    border-style:#FF7A59;
    margin-left: -70px;
}
#free {
    border-radius: 8px;
    color:white;
    background-color: #FF7A59;
    padding: 8px 25px;
    color:white;
    border-style:white;
}

.scroll {
    position: fixed;
    top:0px;
    left:0px;
    width:100%;
    z-index: 1;
}

.contenuto1 {
    height: 100px;
    width: 50%;
    float: left;
    background-color: #F5F8FA;
}
.contenuto2 {
    height: 100px;
    width: 50%;
    float: left;
    background-color:#F5F8FA;
}

.contenuto3 {
    height: 100px;
    width: 50%;
    float: left;
    background-color:white;
    margin-top: 100px;
}
.contenuto4 {
    height: 100px;
    width: 50%;
    float: left;
    background-color:white;
    margin-top: 100px;
}
#logo {
    margin-left: 40%;
    margin-bottom: 50%;
    height: 40px;
}
ul {
    font-size: 17px;
    margin: 0;
    padding: 0;
    list-style: none;
}
ul li {
    display: block;
    width: 120px;
    height: 30px;
    margin: 2px;
    float: left;
}
ul li a {
    color:#33475b;
    display: block;
    font-weight: bold;
    line-height: 30px;
    text-decoration: none;
    width: 100px;
    height: 30px;
    text-align: left;
}

   /* -------------------------------------- */


.fotogrande {
    /* position: relative; */
}
#fotog {
    height:694px;
    width: 100%;
    margin-top: -25px;
}
#frase1 {
    font-size: 50px;
    text-align:center;
    margin-top: 20px;
    color: #33475b;
    position: absolute;
    margin-left: 385px;
}

p {
    position: absolute;
    font-size: 25px;
    text-align: left;
    margin-top: 195px;
    margin-left: 380px;
    color: #33475b;
}
#free2 {
    border-radius: 8px;
    color:white;
    background-color: #FF7A59;
    padding: 20px 50px;
    color:white;
    border-style:white;
    position: absolute;
    margin-top: 340px;
    margin-left: 375px;
}
#get {
    margin-top: 420px;
    margin-left: 375px;
    font-size: 15px;
}

 /* -------------------------------------- */
.secondasezione  {
    /* position: relative; */
    /* height: 5000px; */
    /* background-color: red; */
    /* width: 100%; */
}
#rubi {
    height: 220px;
    margin-left: 850px;
    margin-top: 80px;
}
#frase2 {
    font-size: 35px;
    text-align:center;
    margin-top: 25px;
    margin-left: 700px;
    color: #33475b;
    position: absolute;
}
#full {
    margin-top: 90px;
    margin-bottom: 100px;
    margin-left: 600px;
    position: absolute;
    font-size: 20px;
    text-align: center;
    color: #33475b;
}

 /* -------------------------------------- */
.terzasezione {
    /* margin-top: 1500px; */
    /* width: 100%; */
    position: relative;

}
#lista {
    font-size: 17px;
    /* margin: 0; */
    padding: 0;
    list-style: none;
    margin-bottom: 150px;
}

#lista #comp {
    color:#33475b;
    display: inline-block;
    font-weight: bold;
    line-height: 20px;
    text-decoration: none;
    width: 20px;
    height: 30px;
    text-align: center;
    margin-left: 350px;
}
#picc {
    position: absolute;
    font-size: 17px;
    text-align: left;
    margin-top: -195px;
    margin-left: 700px;
    color: #33475b;
}
#frase3{
    position: absolute;
    font-size: 25px;
    text-align: left;
    margin-top: -240px;
    margin-left: 700px;
    color: #33475b;
}
#picco {
    position: absolute;
    font-size: 17px;
    text-align: left;
    margin-top: -135px;
    margin-left: 700px;
    color: #33475b;
}
#free3 {
    border-radius: 8px;
    color:white;
    background-color: #FF7A59;
    padding: 20px 50px;
    color:white;
    border-style:white;
    /* position: absolute; */
    margin-top:440px;
    margin-left: -250px;
    margin-bottom: 50px;
}
.libri {
    height: 200px;
    margin-top:150px;
    margin-left: 440px;
    margin-bottom: 90px;
}

/* ----------------- quarta se--------------------- */
.quartasezione {
    height: 1500px;
    background-color: lightblue; */
    width: 100%;
}


#borsa {
   height: 150px;
   margin-top:30px;
   margin-left: 210px;
}
#marketing {
    height: 150px;
    margin-top:30px;
    margin-left: 480px;
}
#cuffie {
    height: 150px;
    margin-top:30px;
    margin-left: -50px;
}
.clearfix::after {
    content: "";
    display: table;
    clear: both;
}
.colonna1 {
    /* height: 500px; */
    width: 33%;
    float: left;
    margin-left: 0.2%;
}
.colonna2 {
    /* height: 500px; */
    width:33%;
    float: left;
    margin-left: 0.2%;
}

.colonna3 {
    /* height: 500px; */
    width: 33%;
    float: left;
    margin-left: 0.2%;
}
#frase4 {
    color:#33475b;
    font-size: 25px;
    text-align:right;
    margin-top: 20px;
}
#frase5 {
    color:#33475b;
    font-size: 17px;
    text-align:left;
    margin-top: 30px;
}
#frase6 {
    color:#33475b;
    font-size: 17px;
    text-align: center;
    margin-left: 440px;
}
.fa-check-circle {
    color: #FF7A59;
}
#on {
    display: inline-block;
    color:#33475b;
    font-weight: bold;
    line-height: 40px;
    text-decoration: none;
    height: 60px;
    text-align: left;
    margin-left: 375px;
    margin-top: 240px;
}
#off {
    width: 200px;
    margin: 0;
    padding: 0;
    font-size: 14px;
}
#frase7 {
    color:#33475b;
    font-size: 25px;
    text-align:left;
    margin-top: 20px;
    margin-left: 200px;
}
#frase8 {
    color:#33475b;
    font-size: 17px;
    text-align:left;
    margin-top: 30px;
    margin-left: 200px;
}
#frase9{
    color:#33475b;
    font-size: 17px;
    text-align: center;
    margin-top: 200px;
    margin-left: 200px;
}

#on2 {
    display: inline-block;
    color:#33475b;
    font-weight: bold;
    line-height: 40px;
    text-decoration: none;
    height: 60px;
    text-align: left;
    margin-left: 200px;
    margin-top: 240px;
}
#off {
    width: 200px;
    margin: 0;
    padding: 0;
    font-size: 14px;
}




















<!-------- quinta  sezione------------ ---------------------------------------->






















<!-- -----------sesta  sezione------------ ------------------------------------->














<!-- ----------------------foooter---------- --------------------------------->
